apiVersion: v1
kind: Service
metadata:
  name: sampleapp-service
  labels:
    app: sampleapp
spec:
  type: ClusterIP
  selector:
    app: sampleapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
